* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}



a {
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.container > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    object-position: center;
}

.container .show {
    opacity: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.sidebar > ul > li > span{
    padding: 1rem;
}

.sidebar > ul > li {
    display: flex;
    align-items: center;
}

.sidebar {
    background-color: rgb(102, 102, 102)21, 117, 117);
    width: 0;
    height: 50%;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.white {
    color: white;
}

.user > img {
    height: 2.5rem;
    padding: 1rem;
}

.user {
    display: flex;
    align-items: center;
}