* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body, html {
    height: 100%;
    background-color: black;
}

a {
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
}

.container > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    object-position: center;
}

.container .show {
    opacity: 1;
}


.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.sidebar > ul > li > span{
    padding: 1rem;
}

.sidebar > ul > li {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

li:hover {
    margin: 0rem -1rem 0rem ;
    background-color:rgba(172, 172, 172, 0.1);
    border-right: solid 2px red;
    transition: 0.5s;
    cursor: pointer;
}

.sidebar {
    padding: 1rem 2rem 0rem 2rem;
    height: 100%;
    z-index: 1;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color:rgb(70, 70, 70, 0.8);
}

.white {
    color: white;
    padding: 1rem;
}

.user > img {
    height: 2.5rem;
    padding: 1rem;
    
}

.user {
    display: flex;
    align-items: center;
}

.full {
    height: 400rem;
}